{% extends 'base.jinja' %} {% block content %}
    <h1>{{ title }}</h1><hr>

    <form action="/books" method="post">
        <label for ="title">Book Title</label>
        <input type ="text" name="title" id="title"/>
        <label for="author">Author</label>
        <input type ="author" name="author"/>
        <label for ="genre">Genre</label>
        <input type="text" name="genre">
        <input type="submit" value="Add Book"/>
        </form>
        <form action="/books/delete/<title>" method="post">
        <input type="submit" value="Remove Book"/>
        </form>
        

    <ul>
    {% for book in book_list %}
        <li><b>{{ book.title }}</b>
            {{ book.author}}
            {{ book.genre}} 
            </li>
    {% endfor %}
    </ul>
{% endblock content %}
